page-contact {
img{
    width: 30px;
    height: 30px;
}
.bg{
    height: 100%;
    width: 100%;
    // background: linear-gradient(160deg,#b627f2 30%,#1ee3dd);
background: linear-gradient(160deg,#488aff 30%,#f4f4f4);
    
    
}
.item{
    background: rgba(232, 230, 230,0px);
    color:black;
    
   
}
}
